.container{
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    gap: 50px;
}


.img1{
    height: 80%;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-bottom: auto;
    padding-right: 10px;
}

.text
{
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100px;
    padding: 10px;
    padding-right: 10%;
}